<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Directed Graph Editor</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/popup.css">
    <link rel="stylesheet" href="../css/table.css">
</head>

<body>
<div class="canvas">
    <svg id="svgMenu">
        <g id="chart">
            <g id="actions" />
            <g id="labels" />
        </g>
    </svg>
    <div id="tableInformations">
        <table id="tableChoice">
            <tr id="rowTitleInfos">
                <td class="infoChoiceTitle">Anomericity</td>
                <td class="infoChoiceTitle">Isomer</td>
                <td class="infoChoiceTitle">RNCType</td>
            </tr>
        </table>
    </div>
</div>
<div id="viz"></div>
</body>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="../js/views/app.js"></script>
<script src="../js/views/informations.js"></script>
<script src="../js/views/jquery.min.js"></script>
</html>