<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Directed Graph Editor</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/table.css">
    <script type="text/javascript" src="../js/views/jquery.min.js"></script>
</head>

<body>
<div class="canvas">
    <svg id="svgMenu">
        <g id="chart">
            <g id="actions">
                <rect width="333.3333333333333" height="40" y="0" x="0" id="addNode" class="bar choice"></rect>
                <rect width="333.3333333333333" height="40" y="0" x="333.3333333333333" id="addStructure" class="bar choice"></rect>
                <rect width="333.3333333333333" height="40" y="0" x="666.6666666666666" id="changeMono" class="bar choice"></rect></g>
            <g id="labels">
                <text class="label" x="166.66666666666666" y="8">Add Node</text>
                <text class="label" x="500" y="8">Add Structure</text>
                <text class="label" x="833.3333333333333" y="8">Change Mono</text></g>
        </g>
    </svg>
    <svg id="svgShape">
        <g id="chart">
            <g id="circleShape" class="shapeChoice">
                <rect width="90.9090909091" height="40" fill="black" class="bar choice"></rect>
                <circle cx="45.4545454545" cy="20" r="15" class="shapeElement"></circle>
            </g>
            <g id="squareShape" class="shapeChoice">
                <rect width="90.9090909091" x="90.9090909091" height="40" class="bar choice"></rect>
                <rect x="121.363636364" y="5" width="30" height="30" class="shapeElement"></rect>
            </g>
            <g id="bisectedsquareShape" class="shapeChoice">
                <rect width="90.9090909091" x="181.818181818" height="40" class="bar choice"></rect>
                <rect x="212.272727273" y="5" width="30" height="30" class="shapeElement"></rect>
                <line x1="212.272727273" y1="5" x2="242.272727273" y2="35" class="shapeBisector"></line>
            </g>
            <g id="bisecteddiamondShape" class="shapeChoice">
                <rect width="90.9090909091" x="272.727272727" height="40" class="bar choice"></rect>
                <polygon points="303.181818182,20 318.181818182,5 333.181818182,20 318.181818182,35" class="shapeElement"></polygon>
                <line x1="303.181818182" y1="20" x2="333.181818182" y2="20" class="shapeBisector"></line>
            </g>
            <g id="triangleShape" class="shapeChoice">
                <rect width="90.9090909091" x="363.636363636" height="40" class="bar choice"></rect>
                <polygon points="389.090909091,35 409.090909091,5 429.090909091,35" class="shapeElement"></polygon>
            </g>
            <g id="bisectedtriangleShape" class="shapeChoice">
                <rect width="90.9090909091" x="454.545454545" height="40" class="bar choice"></rect>
                <polygon points="480,35 500,5 520,35" class="shapeElement"></polygon>
                <line x1="500" y1="5" x2="500" y2="35" class="shapeBisector"></line>
            </g>
            <g id="rectangleShape" class="shapeChoice">
                <rect width="90.9090909091" x="545.454545455" height="40" class="bar choice"></rect>
                <rect x="570.909090909" y="10" width="40" height="20" class="shapeElement"></rect>
            </g>
            <g id="starShape" class="shapeChoice">
                <rect width="90.9090909091" x="636.363636364" height="40" class="bar choice"></rect>
                <polygon points="681.818181818,5 668.818181818,35 701.818181818,15 661.818181818,15 694.818181818,35" class="shapeElement"></polygon>
            </g>
            <g id="diamondShape" class="shapeChoice">
                <rect width="90.9090909091" x="727.272727273" height="40" class="bar choice"></rect>
                <polygon points="757.727272727,20 772.727272727,5 787.727272727,20 772.727272727,35" class="shapeElement"></polygon>
            </g>
            <g id="HexagonShape" class="shapeChoice">
                <rect width="90.9090909091" x="818.181818182" height="40" class="bar choice"></rect>
                <polygon points="842.636363636,20 850.636363636,10 876.636363636,10 884.636363636,20 876.636363636,30 850.636363636,30" class="shapeElement"></polygon>
            </g>
            <g id="PentagonShape" class="shapeChoice">
                <rect width="90.9090909091" x="909.090909091" height="40" class="bar choice"></rect>
                <polygon points="939.545454545,15 954.545454545,5 969.545454545,15 963.545454545,32 945.545454545,32" class="shapeElement"></polygon>
            </g>
            <rect id="cancelChoiceShape" width="80" x="1000" height="40" class="bar" fill="black" transform="translate(10)"></rect>
            <text class="label cancelLabel" x="1050" y="8"><<</text>
        </g>
    </svg>
    <div id="tableInformations">
        <table id="tableChoice">
            <tr id="rowTitleInfos">
                <th colspan="3" class="infoChoiceTitle">Anomericity</th>
                <th colspan="3" class="infoChoiceTitle">Isomer</th>
                <th colspan="3" class="infoChoiceTitle">Ring</th>
                <td width="8%" class="titleCancelChoice"></td>
            </tr>
            <tr id="rowChoiceInfos">
                <td id="alphaAnom" class="infoChoiceCell choiceAnomericity">α</td>
                <td id="betaAnom" class="infoChoiceCell choiceAnomericity">β</td>
                <td id="unknownAnom" class="infoChoiceCell choiceAnomericity">?</td>
                <td id="dIsomer" class="infoChoiceCell choiceIsomer">D</td>
                <td id="lIsomer" class="infoChoiceCell choiceIsomer">L</td>
                <td id="unknownIso" class="infoChoiceCell choiceIsomer">?</td>
                <td id="PType" class="infoChoiceCell choiceRing">P</td>
                <td id="FType" class="infoChoiceCell choiceRing">F</td>
                <td id="unknownRing" class="infoChoiceCell choiceRing">?</td>
                <td id="cancelChoiceInfos" class="cancelChoiceCell cancelChoice">Cancel</td>
            </tr>
        </table>
    </div>
    <div id="tableCarbonValues">
        <table id="carbonValues">
            <tr id="rowTitleCarbon">
                <th colspan="7" class="infoChoiceTitle">Link carbon</th>
                <th colspan="7" class="infoChoiceTitle">Anomer carbon</th>
                <td width="8%" class="titleCancelChoice"></td>
            </tr>
            <tr id="rowChoiceCarbon">
                <td id="linkCarbon1" class="infoChoiceCell choiceLinkCarbon">1</td>
                <td id="linkCarbon2" class="infoChoiceCell choiceLinkCarbon">2</td>
                <td id="linkCarbon3" class="infoChoiceCell choiceLinkCarbon">3</td>
                <td id="linkCarbon4" class="infoChoiceCell choiceLinkCarbon">4</td>
                <td id="linkCarbon5" class="infoChoiceCell choiceLinkCarbon">5</td>
                <td id="linkCarbon6" class="infoChoiceCell choiceLinkCarbon">6</td>
                <td id="linkCarbonUnknown" class="infoChoiceCell choiceLinkCarbon">?</td>
                <td id="anomerCarbon1" class="infoChoiceCell choiceAnomerCarbon">1</td>
                <td id="anomerCarbon2" class="infoChoiceCell choiceAnomerCarbon">2</td>
                <td id="anomerCarbon3" class="infoChoiceCell choiceAnomerCarbon">3</td>
                <td id="anomerCarbon4" class="infoChoiceCell choiceAnomerCarbon">4</td>
                <td id="anomerCarbon5" class="infoChoiceCell choiceAnomerCarbon">5</td>
                <td id="anomerCarbon6" class="infoChoiceCell choiceAnomerCarbon">6</td>
                <td id="anomerCarbonUnknown" class="infoChoiceCell choiceAnomerCarbon">?</td>
                <td id="cancelChoiceCarbon" class="cancelChoiceCell">Cancel</td>
            </tr>
        </table>
    </div>
    <div id="tableSubstituents">
        <table id="substituents">
            <tr id="mostUsedSubs">
                <td width="10%" class="subChoice">S</td>
                <td width="10%" class="subChoice">P</td>
                <td width="10%" class="subChoice">NAc</td>
                <td width="10%" class="subChoice">Acetyl</td>
                <td width="10%" class="subChoice">Methyl</td>
                <td width="10%" id="showSecondSubRow">+</td>
                <td width="10%" id="cancelSubButton" class="cancelChoiceCell">Cancel</td>
            </tr>
        </table>
    </div>
    <div id='error'></div>
</div>
<div id="viz"></div>
<script src="../js/sb.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="../js/views/d3.superformula.min.js"></script>
<script src="../js/views/app.js"></script>
<script src="../js/views/informations.js"></script>
<script src="../js/views/visualization.js"></script>
<script src="../js/views/chart.js"></script>
</body>
</html>