<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Directed Graph Editor</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/popup.css">
    <link rel="stylesheet" href="../css/table.css">
</head>

<body>
<div class="canvas">
    <svg id="svgMenu">
        <g id="chart">
            <g id="actions" />
            <g id="labels" />
        </g>
    </svg>
    <div id="tableInformations">
        <table id="tableChoice">
            <tr id="rowTitleInfos">
                <th colspan="3" class="infoChoiceTitle">Anomericity</th>
                <th colspan="3" class="infoChoiceTitle">Isomer</th>
                <th colspan="3" class="infoChoiceTitle">RNCType</th>
            </tr>
            <tr id="rowChoiceInfos">
                <td class="infoChoiceCell">α</td>
                <td class="infoChoiceCell">β</td>
                <td class="infoChoiceCell">?</td>
                <td class="infoChoiceCell">d</td>
                <td class="infoChoiceCell">l</td>
                <td class="infoChoiceCell">?</td>
                <td class="infoChoiceCell">P</td>
                <td class="infoChoiceCell">L</td>
                <td class="infoChoiceCell">?</td>
            </tr>
        </table>
    </div>
</div>
<div id="viz"></div>
</body>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="../js/views/app.js"></script>
<script src="../js/views/informations.js"></script>
<script src="../js/views/jquery.min.js"></script>
</html>