<html>
<head>
    <title>Glycan Sketcher Readme</title>
</head>
<body>
    <h1 style="text-align:center;">Readme</h1>
    <h3>Features:</h3>
    <ul>
        <li>Add residue</li>
        <li>Delete residue (right click on a node to open <b>context menu</b>). "Delete" will delete the monosaccharide and its children,
        "- Subs" deletes all the substituents attached to the node.</li>
        <li>Select multiple nodes (hold Ctrl or Shift + left click).</li>
        <li>Create Repeating Unit (In <b>context menu</b>, or press R). 4 boxes will appear to adjust the settings.</li>
        <li>Export GlycoCT (With repeating units)</li>
        <li>Import GlycoCT (Without repeating units)</li>
    </ul>

    <br />

    <h3>Coming soon</h3>
    <ul>
        <li>Add structure</li>
        <li>Import GlycoCT <b>with Repeating Units</b></li>
        <li>Drawing the attachment point of the root node</li>
    </ul>
</body>
</html>