/* Styles for our labels */
.label {
    font-family: arial,helvetica,'sans-serif';
    font-size: 20px;
    text-anchor: middle;
    alignment-baseline: text-before-edge;
    dominant-baseline: text-before-edge;
    stroke:white;
    fill:white;
}

.labelMonoChoice {
    stroke:black;
    fill:black;
    font-family: arial,helvetica,'sans-serif';
    font-size: 12px;
    text-anchor: middle;
    alignment-baseline: text-before-edge;
    dominant-baseline: text-before-edge;
}

.linkLabel {
    stroke:black;
    fill:black;
    font-family: arial,helvetica,'sans-serif';
    font-size: 10px;
    text-anchor: middle;
    alignment-baseline: text-before-edge;
    dominant-baseline: text-before-edge;
}

.choice {
    fill:#cc0000;
    stroke: white;
}

.displaySubsChoice {
    fill:#6600ff;
    stroke: white;
}

.bar:hover, .shapeChoice, .choiceLinkCarbon {
    cursor: pointer;
}

#svgTree {
    border: 1px #000 solid;
}

#viz {
    width:1000px;
}

#svgShape {
    height: 60px;
    width:1000px;
    display:none;
    overflow: visible;
}

#svgInfos {
    width:1000px;
    display:none;
    height:40px;
    overflow: visible;
}

#svgCarbons {
    width:1000px;
    display:none;
    height:40px;
    overflow: visible;
}


#svgSubstituents {
    width:1000px;
    display:none;
    height:40px;
    overflow: visible;
}

#svgMenu {
    display:none;
    overflow: visible;
}

#svgMenu, #svgShape, #svgInfos, #svgCarbons, #svgSubstituents{
    margin: 0 auto 10px;
}

#viz {
    margin: 0 auto;
    position:relative;
    display:block;
}

.cancelChoiceCell {
    background:red;
    cursor:pointer;
}

#error {
    display:none;
    width:200px;
    height:auto;
    position:relative;
    left:50%;
    margin-left:-100px;
    background-color: red;
    color: white;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.shapeElement {
    fill:white;
}

.shapeBisector {
    stroke:#cc0000;
    stroke-width:2;
}

.cancelLabel {
    stroke:white; !important;
    fill:white; !important;
}

.choiceWhiteStroke {
    stroke:black; !important;
}