/* Styles for our labels */
.label {
    font-family: arial,helvetica,'sans-serif';
    font-size: 20px;
    text-anchor: middle;
    alignment-baseline: text-before-edge;
    dominant-baseline: text-before-edge;
    stroke:white;
    fill:white;
}

.labelMonoChoice, .helpLabel {
    stroke:black;
    fill:black;
    font-family: arial,helvetica,'sans-serif';
    font-size: 12px;
    text-anchor: middle;
    alignment-baseline: text-before-edge;
    dominant-baseline: text-before-edge;
}

.helpLabel {
    font-size: 18px; !important;
    display: none;
}

.errorLabel {
    font-size: 18px; !important;
    display:block;
    stroke: black;!important;
    fill:black;!important;
    text-anchor: middle;
    alignment-baseline: text-before-edge;
    dominant-baseline: text-before-edge;
}

.linkLabel {
    stroke:black;
    fill:black;
    font-family: arial,helvetica,'sans-serif';
    font-size: 10px;
    text-anchor: middle;
    alignment-baseline: text-before-edge;
    dominant-baseline: text-before-edge;
}

.choice {
    fill:#cc0000;
    stroke: white;
}

.displaySubsChoice {
    fill:#6600ff;
    stroke: white;
}

.bar:hover, .shapeChoice, .choiceLinkCarbon {
    cursor: pointer;
}

#svgTree {
    border: 1px #000 solid;
}

#viz {
    width:1000px;
}

#svgShape {
    height: 60px;
    width:1000px;
    display:none;
    overflow: visible;
}

#svgInfos {
    width:1000px;
    display:none;
    height:40px;
    overflow: visible;
}

#svgCarbons {
    width:1000px;
    display:none;
    height:40px;
    overflow: visible;
}


#svgSubstituents {
    width:1000px;
    display:none;
    height:40px;
    overflow: visible;
}

#svgMenu {
    display:none;
    overflow: visible;
}

#svgMenu, #svgShape, #svgInfos, #svgCarbons, #svgSubstituents{
    margin: 0 auto 10px;
}

#viz {
    margin: 0 auto;
    position:relative;
    display:block;
}

.cancelChoiceCell {
    background:red;
    cursor:pointer;
}

.shapeElement {
    fill:white;
}

.shapeBisector {
    stroke:#cc0000;
    stroke-width:2;
}

.cancelLabel {
    stroke:white; !important;
    fill:white; !important;
}

.choiceWhiteStroke {
    stroke:black; !important;
}

#linkedCarbonTitleChoice, .choiceLinkedCarbon {
    fill:#ff1a1a; !important;
}

#isomerTitleChoice, .choiceIsomer {
    fill:#ff0000; !important;
}

#anomericityTitleChoice, .choiceAnomericity {
    fill:#ff4d4d; !important;
}

#copyNode, #pasteNode {
    position:absolute;
    cursor:pointer;
    display:none;
    width:50px;
    height:20px;
    margin-left:-100px;
    background-color: red;
    color: white;
    font-family: Calibri;
    font-size: 14px;
    text-align:center;
    border-radius: 10px;
}