/* Styles for our labels */
.label {
    font-family: arial,helvetica,'sans-serif';
    font-size: 20px;
    text-anchor: middle;
    alignment-baseline: text-before-edge;
}

.choice {
    fill:black;
    stroke: white;
}

.label {
    stroke:white;
}

.bar:hover {
    cursor: pointer;
}

svg {
    border: 1px #000 solid;
}

#svgMenu {
    margin-bottom: 10px;
}

