.infoChoiceTitle {
    width:30%;
    text-align: center;
    border-right: 1px solid white;
}

.infoChoiceCell, .carbonChoiceCell, .subChoice, #showSecondSubRow {
    text-align: center;
    border-right:1px solid white;
    border-top: 1px solid white;
    cursor:pointer;
}

.infoChoiceCell:hover, .carbonChoiceCell:hover, .subChoice:hover, #showSecondSubRow:hover {
    background:white;
    color:black;
}

#rowTitleInfos {
    width:1000px;
    height:40px;
}

#tableInformations, #tableCarbonValues, #tableSubstituents {
    display:none;
    margin-bottom: 10px;
}

#tableChoice, #carbonValues, #substituents {
    width:1000px;
    background:black;
    color:white;
    font-family: arial,helvetica,'sans-serif';
    font-size: 20px;
    text-align:center;
    border-bottom:1px solid white;
}

